<!--header-->
<section class="bg-light">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand font-weight-bold text-primary" href="/">
                <img class="navbar-logo-sm" src="/assets/img/logo.svg" alt="TTC" />
                <span class="d-none d-sm-inline">The Themes Club</span>
            </a>
            <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right" data-target="#navbarCollapse" data-toggle="collapse"
                    type="button">
                <span class="text-primary" data-feather="grid"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/themes">Showcase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hosting/best-wordpress-hosting">Hosting</a>
                    </li>
                </ul>

                <form class="form-inline">
                    <a href="https://wireddots.com?utm_source=ttc" target="_blank"
                       class="btn btn-primary my-2 my-sm-0 ml-md-3" role="button">By Wired Dots</a>
                </form>

            </div>
        </nav>
    </div>
</section>

