---
layout: default
---

<!--header section-->
<section class="lg-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h1 class="text-primary">Best WordPress Themes for Everyone.</h1>
                <p>
                    The ultimate showcase of <b>best WordPress themes</b> for every need, organized
                    by <b>industry, style and feature</b>. Quickly find the perfect WordPress themes
                    for your business or personal use.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="lg-section">
    <div class="container">
        <div class="row">
            {% for theme in site.data.featured %}
            <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card">
                    <a href="{{theme.url}}">
                        <img class="card-img-top img-fluid" src="/assets/img/themes/350/{{theme.image}}" alt="{{theme.title}}"/>
                        <div class="card-body ">
                            <h5 class="card-title">{{theme.title}}</h5>
                            <p class="card-text small-xl text-muted">{{theme.description}}</p>
                            <a href="{{theme.url}}" class="btn btn-light btn-sm mt-4">View Themes</a>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

